﻿@model IndependentWorkNumberOne.Models.PageModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>

<p>Добро пожаловать на мою первую самостоятельную работу в рамках стажировке в компание МегаСофт</p>