﻿@model IndependentWorkNumberOne.Models.ListModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>

<p>
    <a asp-action="Create">Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Номер в базе
            </th>
            <th>
                Наимененование
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cities) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Удалить", "Delete", new {  id=item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
